<div class="intro-y flex items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">
        Dropzone
    </h2>
</div>
<div class="grid gr                <div class="flex items-center mt-8">
<h2 class="text-lg font-medium mr-auto">
    CKEditor
</h2>
</div>
<div class="grid grid-cols-12 gap-6 mt-5">
    <!-- BEGIN: Simple Editor -->
    <div class="col-span-12 lg:col-span-6">
        <div class="box">
            <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
                <h2 class="font-medium text-base mr-auto">
                    Simple Editor
                </h2>
                <div class="w-full sm:w-auto flex items-center sm:ml-auto mt-3 sm:mt-0">
                    <label class="form-check-label ml-0 sm:ml-2" for="show-example-1">Show example code</label>
                    <input data-target="#simple-editor" class="show-code form-check-switch mr-0 ml-3" type="checkbox" id="show-example-1">
                </div>
            </div>
            <div class="p-5" id="simple-editor">
                <div class="preview">
                    <div data-simple-toolbar="true" class="editor" name="fuck">
                        <p>Content of the editor.</p>
                    </div>
                </div>
                <div class="source-code hidden">
                    <button data-target="#copy-simple-editor" class="copy-code btn py-1 px-2 btn-outline-secondary"> <i data-feather="file" class="w-4 h-4 mr-2"></i> Copy example code </button>
                    <div class="overflow-y-auto mt-3 rounded-md">
                        <pre class="source-preview" id="copy-simple-editor"> <code class="text-xs p-0 rounded-md html pl-5 pt-8 pb-4 -mb-10 -mt-10"> HTMLOpenTagdiv data-simple-toolbar=&quot;true&quot; class=&quot;editor&quot;HTMLCloseTag HTMLOpenTagpHTMLCloseTagContent of the editor.HTMLOpenTag/pHTMLCloseTag HTMLOpenTag/divHTMLCloseTag </code> </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Simple Editor -->
    <!-- BEGIN: Standard Editor -->
    <div class="col-span-12 lg:col-span-6">
        <div class="box">
            <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
                <h2 class="font-medium text-base mr-auto">
                    Standard Editor
                </h2>
                <div class="w-full sm:w-auto flex items-center sm:ml-auto mt-3 sm:mt-0">
                    <label class="form-check-label ml-0 sm:ml-2" for="show-example-2">Show example code</label>
                    <input data-target="#standard-editor" class="show-code form-check-switch mr-0 ml-3" type="checkbox" id="show-example-2">
                </div>
            </div>
            <div class="p-5" id="standard-editor">
                <div class="preview">
                    <div class="editor">
                        <p>Content of the editor.</p>
                    </div>
                </div>
                <div class="source-code hidden">
                    <button data-target="#copy-standard-editor" class="copy-code btn py-1 px-2 btn-outline-secondary"> <i data-feather="file" class="w-4 h-4 mr-2"></i> Copy example code </button>
                    <div class="overflow-y-auto mt-3 rounded-md">
                        <pre class="source-preview" id="copy-standard-editor"> <code class="text-xs p-0 rounded-md html pl-5 pt-8 pb-4 -mb-10 -mt-10"> HTMLOpenTagdiv class=&quot;editor&quot;HTMLCloseTag HTMLOpenTagpHTMLCloseTagContent of the editor.HTMLOpenTag/pHTMLCloseTag HTMLOpenTag/divHTMLCloseTag </code> </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Standard Editor -->
    <!-- BEGIN: Inline Editor -->
    <div class="col-span-12 lg:col-span-6">
        <div class="box">
            <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
                <h2 class="font-medium text-base mr-auto">
                    Inline Editor
                </h2>
                <div class="w-full sm:w-auto flex items-center sm:ml-auto mt-3 sm:mt-0">
                    <label class="form-check-label ml-0 sm:ml-2" for="show-example-3">Show example code</label>
                    <input data-target="#inline-editor" class="show-code form-check-switch mr-0 ml-3" type="checkbox" id="show-example-3">
                </div>
            </div>
            <div class="p-5" id="inline-editor">
                <div class="preview">
                    <div data-editor="inline" class="editor">
                        <p>Content of the editor.</p>
                    </div>
                </div>
                <div class="source-code hidden">
                    <button data-target="#copy-inline-editor" class="copy-code btn py-1 px-2 btn-outline-secondary"> <i data-feather="file" class="w-4 h-4 mr-2"></i> Copy example code </button>
                    <div class="overflow-y-auto mt-3 rounded-md">
                        <pre class="source-preview" id="copy-inline-editor"> <code class="text-xs p-0 rounded-md html pl-5 pt-8 pb-4 -mb-10 -mt-10"> HTMLOpenTagdiv data-editor=&quot;inline&quot; class=&quot;editor&quot;HTMLCloseTag HTMLOpenTagpHTMLCloseTagContent of the editor.HTMLOpenTag/pHTMLCloseTag HTMLOpenTag/divHTMLCloseTag </code> </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Inline Editor -->
    <!-- BEGIN: Balloon Editor -->
    <div class="col-span-12 lg:col-span-6">
        <div class="box">
            <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
                <h2 class="font-medium text-base mr-auto">
                    Balloon Editor
                </h2>
                <div class="w-full sm:w-auto flex items-center sm:ml-auto mt-3 sm:mt-0">
                    <label class="form-check-label ml-0 sm:ml-2" for="show-example-4">Show example code</label>
                    <input data-target="#balloon-editor" class="show-code form-check-switch mr-0 ml-3" type="checkbox" id="show-example-4">
                </div>
            </div>
            <div class="p-5" id="balloon-editor">
                <div class="preview">
                    <div data-editor="balloon" class="editor">
                        <p>Content of the editor.</p>
                    </div>
                </div>
                <div class="source-code hidden">
                    <button data-target="#copy-balloon-editor" class="copy-code btn py-1 px-2 btn-outline-secondary"> <i data-feather="file" class="w-4 h-4 mr-2"></i> Copy example code </button>
                    <div class="overflow-y-auto mt-3 rounded-md">
                        <pre class="source-preview" id="copy-balloon-editor"> <code class="text-xs p-0 rounded-md html pl-5 pt-8 pb-4 -mb-10 -mt-10"> HTMLOpenTagdiv data-editor=&quot;balloon&quot; class=&quot;editor&quot;HTMLCloseTag HTMLOpenTagpHTMLCloseTagContent of the editor.HTMLOpenTag/pHTMLCloseTag HTMLOpenTag/divHTMLCloseTag </code> </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Balloon Editor -->
    <!-- BEGIN: Document Editor -->
    <div class="col-span-12">
        <div class="box">
            <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
                <h2 class="font-medium text-base mr-auto">
                    Document Editor
                </h2>
                <div class="w-full sm:w-auto flex items-center sm:ml-auto mt-3 sm:mt-0">
                    <label class="form-check-label ml-0 sm:ml-2" for="show-example-5">Show example code</label>
                    <input data-target="#document-editor" class="show-code form-check-switch mr-0 ml-3" type="checkbox" id="show-example-5">
                </div>
            </div>
            <div class="p-5" id="document-editor">
                <div class="preview">
                    <div data-editor="document" class="editor document-editor">
                        <div class="document-editor__toolbar"></div>
                        <div class="document-editor__editable-container">
                            <div class="document-editor__editable">
                                <p>Content of the editor.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="source-code hidden">
                    <button data-target="#copy-document-editor" class="copy-code btn py-1 px-2 btn-outline-secondary"> <i data-feather="file" class="w-4 h-4 mr-2"></i> Copy example code </button>
                    <div class="overflow-y-auto mt-3 rounded-md">
                        <pre class="source-preview" id="copy-document-editor"> <code class="text-xs p-0 rounded-md html pl-5 pt-8 pb-4 -mb-10 -mt-10"> HTMLOpenTagdiv data-editor=&quot;document&quot; class=&quot;editor document-editor&quot;HTMLCloseTag HTMLOpenTagdiv class=&quot;document-editor__toolbar&quot;HTMLCloseTagHTMLOpenTag/divHTMLCloseTag HTMLOpenTagdiv class=&quot;document-editor__editable-container&quot;HTMLCloseTag HTMLOpenTagdiv class=&quot;document-editor__editable&quot;HTMLCloseTag HTMLOpenTagpHTMLCloseTagContent of the editor.HTMLOpenTag/pHTMLCloseTag HTMLOpenTag/divHTMLCloseTag HTMLOpenTag/divHTMLCloseTag HTMLOpenTag/divHTMLCloseTag </code> </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Document Editor -->
</div>id-cols-12 gap-6 mt-5">
<div class="intro-y col-span-12 lg:col-span-6">
    <!-- BEGIN: Single File Upload -->
    <div class="intro-y box">
        <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
            <h2 class="font-medium text-base mr-auto">
                Single File Upload
            </h2>
            <div class="w-full sm:w-auto flex items-center sm:ml-auto mt-3 sm:mt-0">
                <label class="form-check-label ml-0 sm:ml-2" for="show-example-1">Show example code</label>
                <input id="show-example-1" data-target="#single-file-upload" class="show-code form-check-switch mr-0 ml-3" type="checkbox">
            </div>
        </div>
        <div id="single-file-upload" class="p-5">
            <div class="preview">
                <form data-single="true" action="/file-upload" class="dropzone">
                    <div class="fallback">
                        <input name="file" type="file" />
                    </div>
                    <div class="dz-message" data-dz-message>
                        <div class="text-lg font-medium">Drop files here or click to upload.</div>
                        <div class="text-gray-600"> This is just a demo dropzone. Selected files are <span class="font-medium">not</span> actually uploaded. </div>
                    </div>
                </form>
            </div>
            <div class="source-code hidden">
                <button data-target="#copy-single-file-upload" class="copy-code btn py-1 px-2 btn-outline-secondary"> <i data-feather="file" class="w-4 h-4 mr-2"></i> Copy example code </button>
                <div class="overflow-y-auto mt-3 rounded-md">
                    <pre id="copy-single-file-upload" class="source-preview"> <code class="text-xs p-0 rounded-md html pl-5 pt-8 pb-4 -mb-10 -mt-10"> HTMLOpenTagform data-single=&quot;true&quot; action=&quot;/file-upload&quot; class=&quot;dropzone&quot;HTMLCloseTag HTMLOpenTagdiv class=&quot;fallback&quot;HTMLCloseTag HTMLOpenTaginput name=&quot;file&quot; type=&quot;file&quot; /HTMLCloseTag HTMLOpenTag/divHTMLCloseTag HTMLOpenTagdiv class=&quot;dz-message&quot; data-dz-messageHTMLCloseTag HTMLOpenTagdiv class=&quot;text-lg font-medium&quot;HTMLCloseTagDrop files here or click to upload.HTMLOpenTag/divHTMLCloseTag HTMLOpenTagdiv class=&quot;text-gray-600&quot;HTMLCloseTag This is just a demo dropzone. Selected files are HTMLOpenTagspan class=&quot;font-medium&quot;HTMLCloseTagnotHTMLOpenTag/spanHTMLCloseTag actually uploaded. HTMLOpenTag/divHTMLCloseTag HTMLOpenTag/divHTMLCloseTag HTMLOpenTag/formHTMLCloseTag </code> </pre>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Single File Upload -->
    <!-- BEGIN: Multiple File Upload -->
    <div class="intro-y box mt-5">
        <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
            <h2 class="font-medium text-base mr-auto">
                Multiple File Upload
            </h2>
            <div class="w-full sm:w-auto flex items-center sm:ml-auto mt-3 sm:mt-0">
                <label class="form-check-label ml-0 sm:ml-2" for="show-example-2">Show example code</label>
                <input id="show-example-2" data-target="#multiple-file-upload" class="show-code form-check-switch mr-0 ml-3" type="checkbox">
            </div>
        </div>
        <div id="multiple-file-upload" class="p-5">
            <div class="preview">
                <form action="/file-upload" class="dropzone">
                    <div class="fallback">
                        <input name="file" type="file" multiple/>
                    </div>
                    <div class="dz-message" data-dz-message>
                        <div class="text-lg font-medium">Drop files here or click to upload.</div>
                        <div class="text-gray-600"> This is just a demo dropzone. Selected files are <span class="font-medium">not</span> actually uploaded. </div>
                    </div>
                </form>
            </div>
            <div class="source-code hidden">
                <button data-target="#copy-multiple-file-upload" class="copy-code btn py-1 px-2 btn-outline-secondary"> <i data-feather="file" class="w-4 h-4 mr-2"></i> Copy example code </button>
                <div class="overflow-y-auto mt-3 rounded-md">
                    <pre id="copy-multiple-file-upload" class="source-preview"> <code class="text-xs p-0 rounded-md html pl-5 pt-8 pb-4 -mb-10 -mt-10"> HTMLOpenTagform action=&quot;/file-upload&quot; class=&quot;dropzone&quot;HTMLCloseTag HTMLOpenTagdiv class=&quot;fallback&quot;HTMLCloseTag HTMLOpenTaginput name=&quot;file&quot; type=&quot;file&quot; multiple/HTMLCloseTag HTMLOpenTag/divHTMLCloseTag HTMLOpenTagdiv class=&quot;dz-message&quot; data-dz-messageHTMLCloseTag HTMLOpenTagdiv class=&quot;text-lg font-medium&quot;HTMLCloseTagDrop files here or click to upload.HTMLOpenTag/divHTMLCloseTag HTMLOpenTagdiv class=&quot;text-gray-600&quot;HTMLCloseTag This is just a demo dropzone. Selected files are HTMLOpenTagspan class=&quot;font-medium&quot;HTMLCloseTagnotHTMLOpenTag/spanHTMLCloseTag actually uploaded. HTMLOpenTag/divHTMLCloseTag HTMLOpenTag/divHTMLCloseTag HTMLOpenTag/formHTMLCloseTag </code> </pre>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Multiple File Upload -->
</div>
<div class="intro-y col-span-12 lg:col-span-6">
    <!-- BEGIN: File Type Validation -->
    <div class="intro-y box">
        <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
            <h2 class="font-medium text-base mr-auto">
                File Type Validation
            </h2>
            <div class="w-full sm:w-auto flex items-center sm:ml-auto mt-3 sm:mt-0">
                <label class="form-check-label ml-0 sm:ml-2" for="show-example-3">Show example code</label>
                <input id="show-example-3" data-target="#file-type-validation" class="show-code form-check-switch mr-0 ml-3" type="checkbox">
            </div>
        </div>
        <div id="file-type-validation" class="p-5">
            <div class="preview">
                <form data-file-types="image/jpeg|image/png|image/jpg" action="/file-upload" class="dropzone">
                    <div class="fallback">
                        <input name="file" type="file" />
                    </div>
                    <div class="dz-message" data-dz-message>
                        <div class="text-lg font-medium">Drop files here or click to upload.</div>
                        <div class="text-gray-600"> This is just a demo dropzone. Selected files are <span class="font-medium">not</span> actually uploaded. </div>
                    </div>
                </form>
            </div>
            <div class="source-code hidden">
                <button data-target="#copy-file-type-validation" class="copy-code btn py-1 px-2 btn-outline-secondary"> <i data-feather="file" class="w-4 h-4 mr-2"></i> Copy example code </button>
                <div class="overflow-y-auto mt-3 rounded-md">
                    <pre id="copy-file-type-validation" class="source-preview"> <code class="text-xs p-0 rounded-md html pl-5 pt-8 pb-4 -mb-10 -mt-10"> HTMLOpenTagform data-file-types=&quot;image/jpeg|image/png|image/jpg&quot; action=&quot;/file-upload&quot; class=&quot;dropzone&quot;HTMLCloseTag HTMLOpenTagdiv class=&quot;fallback&quot;HTMLCloseTag HTMLOpenTaginput name=&quot;file&quot; type=&quot;file&quot; /HTMLCloseTag HTMLOpenTag/divHTMLCloseTag HTMLOpenTagdiv class=&quot;dz-message&quot; data-dz-messageHTMLCloseTag HTMLOpenTagdiv class=&quot;text-lg font-medium&quot;HTMLCloseTagDrop files here or click to upload.HTMLOpenTag/divHTMLCloseTag HTMLOpenTagdiv class=&quot;text-gray-600&quot;HTMLCloseTag This is just a demo dropzone. Selected files are HTMLOpenTagspan class=&quot;font-medium&quot;HTMLCloseTagnotHTMLOpenTag/spanHTMLCloseTag actually uploaded. HTMLOpenTag/divHTMLCloseTag HTMLOpenTag/divHTMLCloseTag HTMLOpenTag/formHTMLCloseTag </code> </pre>
                </div>
            </div>
        </div>
    </div>
    <!-- END: File Type Validation -->
</div>
</div>