<div class="intro-y flex flex-col sm:flex-row items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">
        Blog Layout
    </h2>
    <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
        <button class="btn btn-primary shadow-md mr-2">Add New Post</button>
        <div class="dropdown ml-auto sm:ml-0">
            <button class="dropdown-toggle btn px-2 box text-gray-700 dark:text-gray-300" aria-expanded="false">
                <span class="w-5 h-5 flex items-center justify-center"> <i class="w-4 h-4" data-feather="plus"></i> </span>
            </button>
            <div class="dropdown-menu w-40">
                <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                    <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="share-2" class="w-4 h-4 mr-2"></i> Share Post </a>
                    <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="download" class="w-4 h-4 mr-2"></i> Download Post </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="intro-y grid grid-cols-12 gap-6 mt-5">
    <!-- BEGIN: Blog Layout -->
    <div class="intro-y col-span-12 md:col-span-6 xl:col-span-4 box">
        <div class="flex items-center border-b border-gray-200 dark:border-dark-5 px-5 py-4">
            <div class="w-10 h-10 flex-none image-fit">
                <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full" src="/dist/images/profile-1.jpg">
            </div>
            <div class="ml-3 mr-auto">
                <a href="" class="font-medium">Tom Cruise</a>
                <div class="flex text-gray-600 truncate text-xs mt-0.5"> <a class="text-theme-25 dark:text-theme-22 inline-block truncate" href="">Smartphone &amp; Tablet</a> <span class="mx-1">•</span> 19 hours ago </div>
            </div>
            <div class="dropdown ml-3">
                <a href="javascript:;" class="dropdown-toggle w-5 h-5 text-gray-600 dark:text-gray-300" aria-expanded="false"> <i data-feather="more-vertical" class="w-4 h-4"></i> </a>
                <div class="dropdown-menu w-40">
                    <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="edit-2" class="w-4 h-4 mr-2"></i> Edit Post </a>
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="trash" class="w-4 h-4 mr-2"></i> Delete Post </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-5">
            <div class="h-40 xxl:h-56 image-fit">
                <img alt="Tinker Tailwind HTML Admin Template" class="rounded-md" src="/dist/images/preview-8.jpg">
            </div>
            <a href="" class="block font-medium text-base mt-5">Desktop publishing software like Aldus PageMaker</a>
            <div class="text-gray-700 dark:text-gray-600 mt-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#039;s standard dummy text ever since the 1500</div>
        </div>
        <div class="flex items-center px-5 py-3 border-t border-gray-200 dark:border-dark-5">
            <a href="" class="intro-x w-8 h-8 flex items-center justify-center rounded-full border border-gray-400 dark:border-dark-5 dark:bg-dark-5 dark:text-gray-300 text-gray-600 mr-2 tooltip" title="Bookmark"> <i data-feather="bookmark" class="w-3 h-3"></i> </a>
            <div class="intro-x flex mr-2">
                <div class="intro-x w-8 h-8 image-fit">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full border border-white zoom-in tooltip" src="/dist/images/profile-1.jpg" title="Tom Cruise">
                </div>
                <div class="intro-x w-8 h-8 image-fit -ml-4">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full border border-white zoom-in tooltip" src="/dist/images/profile-14.jpg" title="Christian Bale">
                </div>
                <div class="intro-x w-8 h-8 image-fit -ml-4">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full border border-white zoom-in tooltip" src="/dist/images/profile-14.jpg" title="Nicolas Cage">
                </div>
            </div>
            <a href="" class="intro-x w-8 h-8 flex items-center justify-center rounded-full bg-theme-19 dark:bg-dark-5 dark:text-gray-300 text-theme-22 ml-auto tooltip" title="Share"> <i data-feather="share-2" class="w-3 h-3"></i> </a>
            <a href="" class="intro-x w-8 h-8 flex items-center justify-center rounded-full bg-theme-25 text-white ml-2 tooltip" title="Download PDF"> <i data-feather="share" class="w-3 h-3"></i> </a>
        </div>
        <div class="px-5 pt-3 pb-5 border-t border-gray-200 dark:border-dark-5">
            <div class="w-full flex text-gray-600 text-xs sm:text-sm">
                <div class="mr-2"> Comments: <span class="font-medium">67</span> </div>
                <div class="mr-2"> Views: <span class="font-medium">177k</span> </div>
                <div class="ml-auto"> Likes: <span class="font-medium">29k</span> </div>
            </div>
            <div class="w-full flex items-center mt-3">
                <div class="w-8 h-8 flex-none image-fit mr-3">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full" src="/dist/images/profile-1.jpg">
                </div>
                <div class="flex-1 relative text-gray-700">
                    <input type="text" class="form-control form-control-rounded border-transparent bg-gray-200 pr-10 placeholder-theme-13" placeholder="Post a comment...">
                    <i data-feather="smile" class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="intro-y col-span-12 md:col-span-6 xl:col-span-4 box">
        <div class="flex items-center border-b border-gray-200 dark:border-dark-5 px-5 py-4">
            <div class="w-10 h-10 flex-none image-fit">
                <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full" src="/dist/images/profile-4.jpg">
            </div>
            <div class="ml-3 mr-auto">
                <a href="" class="font-medium">Kevin Spacey</a>
                <div class="flex text-gray-600 truncate text-xs mt-0.5"> <a class="text-theme-25 dark:text-theme-22 inline-block truncate" href="">Electronic</a> <span class="mx-1">•</span> 47 seconds ago </div>
            </div>
            <div class="dropdown ml-3">
                <a href="javascript:;" class="dropdown-toggle w-5 h-5 text-gray-600 dark:text-gray-300" aria-expanded="false"> <i data-feather="more-vertical" class="w-4 h-4"></i> </a>
                <div class="dropdown-menu w-40">
                    <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="edit-2" class="w-4 h-4 mr-2"></i> Edit Post </a>
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="trash" class="w-4 h-4 mr-2"></i> Delete Post </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-5">
            <div class="h-40 xxl:h-56 image-fit">
                <img alt="Tinker Tailwind HTML Admin Template" class="rounded-md" src="/dist/images/preview-13.jpg">
            </div>
            <a href="" class="block font-medium text-base mt-5">200 Latin words, combined with a handful of model sentences</a>
            <div class="text-gray-700 dark:text-gray-600 mt-2">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomi</div>
        </div>
        <div class="flex items-center px-5 py-3 border-t border-gray-200 dark:border-dark-5">
            <a href="" class="intro-x w-8 h-8 flex items-center justify-center rounded-full border border-gray-400 dark:border-dark-5 dark:bg-dark-5 dark:text-gray-300 text-gray-600 mr-2 tooltip" title="Bookmark"> <i data-feather="bookmark" class="w-3 h-3"></i> </a>
            <div class="intro-x flex mr-2">
                <div class="intro-x w-8 h-8 image-fit">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full border border-white zoom-in tooltip" src="/dist/images/profile-4.jpg" title="Kevin Spacey">
                </div>
                <div class="intro-x w-8 h-8 image-fit -ml-4">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full border border-white zoom-in tooltip" src="/dist/images/profile-8.jpg" title="Denzel Washington">
                </div>
                <div class="intro-x w-8 h-8 image-fit -ml-4">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full border border-white zoom-in tooltip" src="/dist/images/profile-7.jpg" title="Arnold Schwarzenegger">
                </div>
            </div>
            <a href="" class="intro-x w-8 h-8 flex items-center justify-center rounded-full bg-theme-19 dark:bg-dark-5 dark:text-gray-300 text-theme-22 ml-auto tooltip" title="Share"> <i data-feather="share-2" class="w-3 h-3"></i> </a>
            <a href="" class="intro-x w-8 h-8 flex items-center justify-center rounded-full bg-theme-25 text-white ml-2 tooltip" title="Download PDF"> <i data-feather="share" class="w-3 h-3"></i> </a>
        </div>
        <div class="px-5 pt-3 pb-5 border-t border-gray-200 dark:border-dark-5">
            <div class="w-full flex text-gray-600 text-xs sm:text-sm">
                <div class="mr-2"> Comments: <span class="font-medium">184</span> </div>
                <div class="mr-2"> Views: <span class="font-medium">101k</span> </div>
                <div class="ml-auto"> Likes: <span class="font-medium">24k</span> </div>
            </div>
            <div class="w-full flex items-center mt-3">
                <div class="w-8 h-8 flex-none image-fit mr-3">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full" src="/dist/images/profile-4.jpg">
                </div>
                <div class="flex-1 relative text-gray-700">
                    <input type="text" class="form-control form-control-rounded border-transparent bg-gray-200 pr-10 placeholder-theme-13" placeholder="Post a comment...">
                    <i data-feather="smile" class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="intro-y col-span-12 md:col-span-6 xl:col-span-4 box">
        <div class="flex items-center border-b border-gray-200 dark:border-dark-5 px-5 py-4">
            <div class="w-10 h-10 flex-none image-fit">
                <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full" src="/dist/images/profile-7.jpg">
            </div>
            <div class="ml-3 mr-auto">
                <a href="" class="font-medium">Russell Crowe</a>
                <div class="flex text-gray-600 truncate text-xs mt-0.5"> <a class="text-theme-25 dark:text-theme-22 inline-block truncate" href="">Smartphone &amp; Tablet</a> <span class="mx-1">•</span> 28 seconds ago </div>
            </div>
            <div class="dropdown ml-3">
                <a href="javascript:;" class="dropdown-toggle w-5 h-5 text-gray-600 dark:text-gray-300" aria-expanded="false"> <i data-feather="more-vertical" class="w-4 h-4"></i> </a>
                <div class="dropdown-menu w-40">
                    <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="edit-2" class="w-4 h-4 mr-2"></i> Edit Post </a>
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="trash" class="w-4 h-4 mr-2"></i> Delete Post </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-5">
            <div class="h-40 xxl:h-56 image-fit">
                <img alt="Tinker Tailwind HTML Admin Template" class="rounded-md" src="/dist/images/preview-13.jpg">
            </div>
            <a href="" class="block font-medium text-base mt-5">200 Latin words, combined with a handful of model sentences</a>
            <div class="text-gray-700 dark:text-gray-600 mt-2">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomi</div>
        </div>
        <div class="flex items-center px-5 py-3 border-t border-gray-200 dark:border-dark-5">
            <a href="" class="intro-x w-8 h-8 flex items-center justify-center rounded-full border border-gray-400 dark:border-dark-5 dark:bg-dark-5 dark:text-gray-300 text-gray-600 mr-2 tooltip" title="Bookmark"> <i data-feather="bookmark" class="w-3 h-3"></i> </a>
            <div class="intro-x flex mr-2">
                <div class="intro-x w-8 h-8 image-fit">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full border border-white zoom-in tooltip" src="/dist/images/profile-7.jpg" title="Russell Crowe">
                </div>
                <div class="intro-x w-8 h-8 image-fit -ml-4">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full border border-white zoom-in tooltip" src="/dist/images/profile-8.jpg" title="Tom Hanks">
                </div>
                <div class="intro-x w-8 h-8 image-fit -ml-4">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full border border-white zoom-in tooltip" src="/dist/images/profile-6.jpg" title="Catherine Zeta-Jones">
                </div>
            </div>
            <a href="" class="intro-x w-8 h-8 flex items-center justify-center rounded-full bg-theme-19 dark:bg-dark-5 dark:text-gray-300 text-theme-22 ml-auto tooltip" title="Share"> <i data-feather="share-2" class="w-3 h-3"></i> </a>
            <a href="" class="intro-x w-8 h-8 flex items-center justify-center rounded-full bg-theme-25 text-white ml-2 tooltip" title="Download PDF"> <i data-feather="share" class="w-3 h-3"></i> </a>
        </div>
        <div class="px-5 pt-3 pb-5 border-t border-gray-200 dark:border-dark-5">
            <div class="w-full flex text-gray-600 text-xs sm:text-sm">
                <div class="mr-2"> Comments: <span class="font-medium">43</span> </div>
                <div class="mr-2"> Views: <span class="font-medium">201k</span> </div>
                <div class="ml-auto"> Likes: <span class="font-medium">110k</span> </div>
            </div>
            <div class="w-full flex items-center mt-3">
                <div class="w-8 h-8 flex-none image-fit mr-3">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full" src="/dist/images/profile-7.jpg">
                </div>
                <div class="flex-1 relative text-gray-700">
                    <input type="text" class="form-control form-control-rounded border-transparent bg-gray-200 pr-10 placeholder-theme-13" placeholder="Post a comment...">
                    <i data-feather="smile" class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="intro-y col-span-12 md:col-span-6 xl:col-span-4 box">
        <div class="flex items-center border-b border-gray-200 dark:border-dark-5 px-5 py-4">
            <div class="w-10 h-10 flex-none image-fit">
                <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full" src="/dist/images/profile-5.jpg">
            </div>
            <div class="ml-3 mr-auto">
                <a href="" class="font-medium">Denzel Washington</a>
                <div class="flex text-gray-600 truncate text-xs mt-0.5"> <a class="text-theme-25 dark:text-theme-22 inline-block truncate" href="">Sport &amp; Outdoor</a> <span class="mx-1">•</span> 40 seconds ago </div>
            </div>
            <div class="dropdown ml-3">
                <a href="javascript:;" class="dropdown-toggle w-5 h-5 text-gray-600 dark:text-gray-300" aria-expanded="false"> <i data-feather="more-vertical" class="w-4 h-4"></i> </a>
                <div class="dropdown-menu w-40">
                    <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="edit-2" class="w-4 h-4 mr-2"></i> Edit Post </a>
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="trash" class="w-4 h-4 mr-2"></i> Delete Post </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-5">
            <div class="h-40 xxl:h-56 image-fit">
                <img alt="Tinker Tailwind HTML Admin Template" class="rounded-md" src="/dist/images/preview-15.jpg">
            </div>
            <a href="" class="block font-medium text-base mt-5">Dummy text of the printing and typesetting industry</a>
            <div class="text-gray-700 dark:text-gray-600 mt-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem </div>
        </div>
        <div class="flex items-center px-5 py-3 border-t border-gray-200 dark:border-dark-5">
            <a href="" class="intro-x w-8 h-8 flex items-center justify-center rounded-full border border-gray-400 dark:border-dark-5 dark:bg-dark-5 dark:text-gray-300 text-gray-600 mr-2 tooltip" title="Bookmark"> <i data-feather="bookmark" class="w-3 h-3"></i> </a>
            <div class="intro-x flex mr-2">
                <div class="intro-x w-8 h-8 image-fit">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full border border-white zoom-in tooltip" src="/dist/images/profile-5.jpg" title="Denzel Washington">
                </div>
                <div class="intro-x w-8 h-8 image-fit -ml-4">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full border border-white zoom-in tooltip" src="/dist/images/profile-6.jpg" title="Leonardo DiCaprio">
                </div>
                <div class="intro-x w-8 h-8 image-fit -ml-4">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full border border-white zoom-in tooltip" src="/dist/images/profile-5.jpg" title="Bruce Willis">
                </div>
            </div>
            <a href="" class="intro-x w-8 h-8 flex items-center justify-center rounded-full bg-theme-19 dark:bg-dark-5 dark:text-gray-300 text-theme-22 ml-auto tooltip" title="Share"> <i data-feather="share-2" class="w-3 h-3"></i> </a>
            <a href="" class="intro-x w-8 h-8 flex items-center justify-center rounded-full bg-theme-25 text-white ml-2 tooltip" title="Download PDF"> <i data-feather="share" class="w-3 h-3"></i> </a>
        </div>
        <div class="px-5 pt-3 pb-5 border-t border-gray-200 dark:border-dark-5">
            <div class="w-full flex text-gray-600 text-xs sm:text-sm">
                <div class="mr-2"> Comments: <span class="font-medium">78</span> </div>
                <div class="mr-2"> Views: <span class="font-medium">105k</span> </div>
                <div class="ml-auto"> Likes: <span class="font-medium">40k</span> </div>
            </div>
            <div class="w-full flex items-center mt-3">
                <div class="w-8 h-8 flex-none image-fit mr-3">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full" src="/dist/images/profile-5.jpg">
                </div>
                <div class="flex-1 relative text-gray-700">
                    <input type="text" class="form-control form-control-rounded border-transparent bg-gray-200 pr-10 placeholder-theme-13" placeholder="Post a comment...">
                    <i data-feather="smile" class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="intro-y col-span-12 md:col-span-6 xl:col-span-4 box">
        <div class="flex items-center border-b border-gray-200 dark:border-dark-5 px-5 py-4">
            <div class="w-10 h-10 flex-none image-fit">
                <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full" src="/dist/images/profile-8.jpg">
            </div>
            <div class="ml-3 mr-auto">
                <a href="" class="font-medium">Angelina Jolie</a>
                <div class="flex text-gray-600 truncate text-xs mt-0.5"> <a class="text-theme-25 dark:text-theme-22 inline-block truncate" href="">Photography</a> <span class="mx-1">•</span> 39 seconds ago </div>
            </div>
            <div class="dropdown ml-3">
                <a href="javascript:;" class="dropdown-toggle w-5 h-5 text-gray-600 dark:text-gray-300" aria-expanded="false"> <i data-feather="more-vertical" class="w-4 h-4"></i> </a>
                <div class="dropdown-menu w-40">
                    <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="edit-2" class="w-4 h-4 mr-2"></i> Edit Post </a>
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="trash" class="w-4 h-4 mr-2"></i> Delete Post </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-5">
            <div class="h-40 xxl:h-56 image-fit">
                <img alt="Tinker Tailwind HTML Admin Template" class="rounded-md" src="/dist/images/preview-3.jpg">
            </div>
            <a href="" class="block font-medium text-base mt-5">Dummy text of the printing and typesetting industry</a>
            <div class="text-gray-700 dark:text-gray-600 mt-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem </div>
        </div>
        <div class="flex items-center px-5 py-3 border-t border-gray-200 dark:border-dark-5">
            <a href="" class="intro-x w-8 h-8 flex items-center justify-center rounded-full border border-gray-400 dark:border-dark-5 dark:bg-dark-5 dark:text-gray-300 text-gray-600 mr-2 tooltip" title="Bookmark"> <i data-feather="bookmark" class="w-3 h-3"></i> </a>
            <div class="intro-x flex mr-2">
                <div class="intro-x w-8 h-8 image-fit">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full border border-white zoom-in tooltip" src="/dist/images/profile-8.jpg" title="Angelina Jolie">
                </div>
                <div class="intro-x w-8 h-8 image-fit -ml-4">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full border border-white zoom-in tooltip" src="/dist/images/profile-5.jpg" title="Arnold Schwarzenegger">
                </div>
                <div class="intro-x w-8 h-8 image-fit -ml-4">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full border border-white zoom-in tooltip" src="/dist/images/profile-6.jpg" title="Sean Connery">
                </div>
            </div>
            <a href="" class="intro-x w-8 h-8 flex items-center justify-center rounded-full bg-theme-19 dark:bg-dark-5 dark:text-gray-300 text-theme-22 ml-auto tooltip" title="Share"> <i data-feather="share-2" class="w-3 h-3"></i> </a>
            <a href="" class="intro-x w-8 h-8 flex items-center justify-center rounded-full bg-theme-25 text-white ml-2 tooltip" title="Download PDF"> <i data-feather="share" class="w-3 h-3"></i> </a>
        </div>
        <div class="px-5 pt-3 pb-5 border-t border-gray-200 dark:border-dark-5">
            <div class="w-full flex text-gray-600 text-xs sm:text-sm">
                <div class="mr-2"> Comments: <span class="font-medium">105</span> </div>
                <div class="mr-2"> Views: <span class="font-medium">21k</span> </div>
                <div class="ml-auto"> Likes: <span class="font-medium">99k</span> </div>
            </div>
            <div class="w-full flex items-center mt-3">
                <div class="w-8 h-8 flex-none image-fit mr-3">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full" src="/dist/images/profile-8.jpg">
                </div>
                <div class="flex-1 relative text-gray-700">
                    <input type="text" class="form-control form-control-rounded border-transparent bg-gray-200 pr-10 placeholder-theme-13" placeholder="Post a comment...">
                    <i data-feather="smile" class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="intro-y col-span-12 md:col-span-6 xl:col-span-4 box">
        <div class="flex items-center border-b border-gray-200 dark:border-dark-5 px-5 py-4">
            <div class="w-10 h-10 flex-none image-fit">
                <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full" src="/dist/images/profile-9.jpg">
            </div>
            <div class="ml-3 mr-auto">
                <a href="" class="font-medium">Robert De Niro</a>
                <div class="flex text-gray-600 truncate text-xs mt-0.5"> <a class="text-theme-25 dark:text-theme-22 inline-block truncate" href="">Electronic</a> <span class="mx-1">•</span> 19 minutes ago </div>
            </div>
            <div class="dropdown ml-3">
                <a href="javascript:;" class="dropdown-toggle w-5 h-5 text-gray-600 dark:text-gray-300" aria-expanded="false"> <i data-feather="more-vertical" class="w-4 h-4"></i> </a>
                <div class="dropdown-menu w-40">
                    <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="edit-2" class="w-4 h-4 mr-2"></i> Edit Post </a>
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="trash" class="w-4 h-4 mr-2"></i> Delete Post </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-5">
            <div class="h-40 xxl:h-56 image-fit">
                <img alt="Tinker Tailwind HTML Admin Template" class="rounded-md" src="/dist/images/preview-5.jpg">
            </div>
            <a href="" class="block font-medium text-base mt-5">Dummy text of the printing and typesetting industry</a>
            <div class="text-gray-700 dark:text-gray-600 mt-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem </div>
        </div>
        <div class="flex items-center px-5 py-3 border-t border-gray-200 dark:border-dark-5">
            <a href="" class="intro-x w-8 h-8 flex items-center justify-center rounded-full border border-gray-400 dark:border-dark-5 dark:bg-dark-5 dark:text-gray-300 text-gray-600 mr-2 tooltip" title="Bookmark"> <i data-feather="bookmark" class="w-3 h-3"></i> </a>
            <div class="intro-x flex mr-2">
                <div class="intro-x w-8 h-8 image-fit">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full border border-white zoom-in tooltip" src="/dist/images/profile-9.jpg" title="Robert De Niro">
                </div>
                <div class="intro-x w-8 h-8 image-fit -ml-4">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full border border-white zoom-in tooltip" src="/dist/images/profile-12.jpg" title="John Travolta">
                </div>
                <div class="intro-x w-8 h-8 image-fit -ml-4">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full border border-white zoom-in tooltip" src="/dist/images/profile-12.jpg" title="Kate Winslet">
                </div>
            </div>
            <a href="" class="intro-x w-8 h-8 flex items-center justify-center rounded-full bg-theme-19 dark:bg-dark-5 dark:text-gray-300 text-theme-22 ml-auto tooltip" title="Share"> <i data-feather="share-2" class="w-3 h-3"></i> </a>
            <a href="" class="intro-x w-8 h-8 flex items-center justify-center rounded-full bg-theme-25 text-white ml-2 tooltip" title="Download PDF"> <i data-feather="share" class="w-3 h-3"></i> </a>
        </div>
        <div class="px-5 pt-3 pb-5 border-t border-gray-200 dark:border-dark-5">
            <div class="w-full flex text-gray-600 text-xs sm:text-sm">
                <div class="mr-2"> Comments: <span class="font-medium">110</span> </div>
                <div class="mr-2"> Views: <span class="font-medium">27k</span> </div>
                <div class="ml-auto"> Likes: <span class="font-medium">50k</span> </div>
            </div>
            <div class="w-full flex items-center mt-3">
                <div class="w-8 h-8 flex-none image-fit mr-3">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full" src="/dist/images/profile-9.jpg">
                </div>
                <div class="flex-1 relative text-gray-700">
                    <input type="text" class="form-control form-control-rounded border-transparent bg-gray-200 pr-10 placeholder-theme-13" placeholder="Post a comment...">
                    <i data-feather="smile" class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="intro-y col-span-12 md:col-span-6 xl:col-span-4 box">
        <div class="flex items-center border-b border-gray-200 dark:border-dark-5 px-5 py-4">
            <div class="w-10 h-10 flex-none image-fit">
                <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full" src="/dist/images/profile-7.jpg">
            </div>
            <div class="ml-3 mr-auto">
                <a href="" class="font-medium">Angelina Jolie</a>
                <div class="flex text-gray-600 truncate text-xs mt-0.5"> <a class="text-theme-25 dark:text-theme-22 inline-block truncate" href="">PC &amp; Laptop</a> <span class="mx-1">•</span> 14 seconds ago </div>
            </div>
            <div class="dropdown ml-3">
                <a href="javascript:;" class="dropdown-toggle w-5 h-5 text-gray-600 dark:text-gray-300" aria-expanded="false"> <i data-feather="more-vertical" class="w-4 h-4"></i> </a>
                <div class="dropdown-menu w-40">
                    <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="edit-2" class="w-4 h-4 mr-2"></i> Edit Post </a>
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="trash" class="w-4 h-4 mr-2"></i> Delete Post </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-5">
            <div class="h-40 xxl:h-56 image-fit">
                <img alt="Tinker Tailwind HTML Admin Template" class="rounded-md" src="/dist/images/preview-14.jpg">
            </div>
            <a href="" class="block font-medium text-base mt-5">200 Latin words, combined with a handful of model sentences</a>
            <div class="text-gray-700 dark:text-gray-600 mt-2">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomi</div>
        </div>
        <div class="flex items-center px-5 py-3 border-t border-gray-200 dark:border-dark-5">
            <a href="" class="intro-x w-8 h-8 flex items-center justify-center rounded-full border border-gray-400 dark:border-dark-5 dark:bg-dark-5 dark:text-gray-300 text-gray-600 mr-2 tooltip" title="Bookmark"> <i data-feather="bookmark" class="w-3 h-3"></i> </a>
            <div class="intro-x flex mr-2">
                <div class="intro-x w-8 h-8 image-fit">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full border border-white zoom-in tooltip" src="/dist/images/profile-7.jpg" title="Angelina Jolie">
                </div>
                <div class="intro-x w-8 h-8 image-fit -ml-4">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full border border-white zoom-in tooltip" src="/dist/images/profile-4.jpg" title="Vin Diesel">
                </div>
                <div class="intro-x w-8 h-8 image-fit -ml-4">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full border border-white zoom-in tooltip" src="/dist/images/profile-1.jpg" title="Matt Damon">
                </div>
            </div>
            <a href="" class="intro-x w-8 h-8 flex items-center justify-center rounded-full bg-theme-19 dark:bg-dark-5 dark:text-gray-300 text-theme-22 ml-auto tooltip" title="Share"> <i data-feather="share-2" class="w-3 h-3"></i> </a>
            <a href="" class="intro-x w-8 h-8 flex items-center justify-center rounded-full bg-theme-25 text-white ml-2 tooltip" title="Download PDF"> <i data-feather="share" class="w-3 h-3"></i> </a>
        </div>
        <div class="px-5 pt-3 pb-5 border-t border-gray-200 dark:border-dark-5">
            <div class="w-full flex text-gray-600 text-xs sm:text-sm">
                <div class="mr-2"> Comments: <span class="font-medium">42</span> </div>
                <div class="mr-2"> Views: <span class="font-medium">40k</span> </div>
                <div class="ml-auto"> Likes: <span class="font-medium">78k</span> </div>
            </div>
            <div class="w-full flex items-center mt-3">
                <div class="w-8 h-8 flex-none image-fit mr-3">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full" src="/dist/images/profile-7.jpg">
                </div>
                <div class="flex-1 relative text-gray-700">
                    <input type="text" class="form-control form-control-rounded border-transparent bg-gray-200 pr-10 placeholder-theme-13" placeholder="Post a comment...">
                    <i data-feather="smile" class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="intro-y col-span-12 md:col-span-6 xl:col-span-4 box">
        <div class="flex items-center border-b border-gray-200 dark:border-dark-5 px-5 py-4">
            <div class="w-10 h-10 flex-none image-fit">
                <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full" src="/dist/images/profile-3.jpg">
            </div>
            <div class="ml-3 mr-auto">
                <a href="" class="font-medium">Denzel Washington</a>
                <div class="flex text-gray-600 truncate text-xs mt-0.5"> <a class="text-theme-25 dark:text-theme-22 inline-block truncate" href="">Photography</a> <span class="mx-1">•</span> 11 seconds ago </div>
            </div>
            <div class="dropdown ml-3">
                <a href="javascript:;" class="dropdown-toggle w-5 h-5 text-gray-600 dark:text-gray-300" aria-expanded="false"> <i data-feather="more-vertical" class="w-4 h-4"></i> </a>
                <div class="dropdown-menu w-40">
                    <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="edit-2" class="w-4 h-4 mr-2"></i> Edit Post </a>
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="trash" class="w-4 h-4 mr-2"></i> Delete Post </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-5">
            <div class="h-40 xxl:h-56 image-fit">
                <img alt="Tinker Tailwind HTML Admin Template" class="rounded-md" src="/dist/images/preview-10.jpg">
            </div>
            <a href="" class="block font-medium text-base mt-5">Popularised in the 1960s with the release of Letraset</a>
            <div class="text-gray-700 dark:text-gray-600 mt-2">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 20</div>
        </div>
        <div class="flex items-center px-5 py-3 border-t border-gray-200 dark:border-dark-5">
            <a href="" class="intro-x w-8 h-8 flex items-center justify-center rounded-full border border-gray-400 dark:border-dark-5 dark:bg-dark-5 dark:text-gray-300 text-gray-600 mr-2 tooltip" title="Bookmark"> <i data-feather="bookmark" class="w-3 h-3"></i> </a>
            <div class="intro-x flex mr-2">
                <div class="intro-x w-8 h-8 image-fit">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full border border-white zoom-in tooltip" src="/dist/images/profile-3.jpg" title="Denzel Washington">
                </div>
                <div class="intro-x w-8 h-8 image-fit -ml-4">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full border border-white zoom-in tooltip" src="/dist/images/profile-9.jpg" title="Brad Pitt">
                </div>
                <div class="intro-x w-8 h-8 image-fit -ml-4">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full border border-white zoom-in tooltip" src="/dist/images/profile-13.jpg" title="Arnold Schwarzenegger">
                </div>
            </div>
            <a href="" class="intro-x w-8 h-8 flex items-center justify-center rounded-full bg-theme-19 dark:bg-dark-5 dark:text-gray-300 text-theme-22 ml-auto tooltip" title="Share"> <i data-feather="share-2" class="w-3 h-3"></i> </a>
            <a href="" class="intro-x w-8 h-8 flex items-center justify-center rounded-full bg-theme-25 text-white ml-2 tooltip" title="Download PDF"> <i data-feather="share" class="w-3 h-3"></i> </a>
        </div>
        <div class="px-5 pt-3 pb-5 border-t border-gray-200 dark:border-dark-5">
            <div class="w-full flex text-gray-600 text-xs sm:text-sm">
                <div class="mr-2"> Comments: <span class="font-medium">41</span> </div>
                <div class="mr-2"> Views: <span class="font-medium">20k</span> </div>
                <div class="ml-auto"> Likes: <span class="font-medium">27k</span> </div>
            </div>
            <div class="w-full flex items-center mt-3">
                <div class="w-8 h-8 flex-none image-fit mr-3">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full" src="/dist/images/profile-3.jpg">
                </div>
                <div class="flex-1 relative text-gray-700">
                    <input type="text" class="form-control form-control-rounded border-transparent bg-gray-200 pr-10 placeholder-theme-13" placeholder="Post a comment...">
                    <i data-feather="smile" class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="intro-y col-span-12 md:col-span-6 xl:col-span-4 box">
        <div class="flex items-center border-b border-gray-200 dark:border-dark-5 px-5 py-4">
            <div class="w-10 h-10 flex-none image-fit">
                <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full" src="/dist/images/profile-6.jpg">
            </div>
            <div class="ml-3 mr-auto">
                <a href="" class="font-medium">Johnny Depp</a>
                <div class="flex text-gray-600 truncate text-xs mt-0.5"> <a class="text-theme-25 dark:text-theme-22 inline-block truncate" href="">Photography</a> <span class="mx-1">•</span> 31 seconds ago </div>
            </div>
            <div class="dropdown ml-3">
                <a href="javascript:;" class="dropdown-toggle w-5 h-5 text-gray-600 dark:text-gray-300" aria-expanded="false"> <i data-feather="more-vertical" class="w-4 h-4"></i> </a>
                <div class="dropdown-menu w-40">
                    <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="edit-2" class="w-4 h-4 mr-2"></i> Edit Post </a>
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="trash" class="w-4 h-4 mr-2"></i> Delete Post </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-5">
            <div class="h-40 xxl:h-56 image-fit">
                <img alt="Tinker Tailwind HTML Admin Template" class="rounded-md" src="/dist/images/preview-7.jpg">
            </div>
            <a href="" class="block font-medium text-base mt-5">Popularised in the 1960s with the release of Letraset</a>
            <div class="text-gray-700 dark:text-gray-600 mt-2">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 20</div>
        </div>
        <div class="flex items-center px-5 py-3 border-t border-gray-200 dark:border-dark-5">
            <a href="" class="intro-x w-8 h-8 flex items-center justify-center rounded-full border border-gray-400 dark:border-dark-5 dark:bg-dark-5 dark:text-gray-300 text-gray-600 mr-2 tooltip" title="Bookmark"> <i data-feather="bookmark" class="w-3 h-3"></i> </a>
            <div class="intro-x flex mr-2">
                <div class="intro-x w-8 h-8 image-fit">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full border border-white zoom-in tooltip" src="/dist/images/profile-6.jpg" title="Johnny Depp">
                </div>
                <div class="intro-x w-8 h-8 image-fit -ml-4">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full border border-white zoom-in tooltip" src="/dist/images/profile-3.jpg" title="John Travolta">
                </div>
                <div class="intro-x w-8 h-8 image-fit -ml-4">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full border border-white zoom-in tooltip" src="/dist/images/profile-8.jpg" title="Bruce Willis">
                </div>
            </div>
            <a href="" class="intro-x w-8 h-8 flex items-center justify-center rounded-full bg-theme-19 dark:bg-dark-5 dark:text-gray-300 text-theme-22 ml-auto tooltip" title="Share"> <i data-feather="share-2" class="w-3 h-3"></i> </a>
            <a href="" class="intro-x w-8 h-8 flex items-center justify-center rounded-full bg-theme-25 text-white ml-2 tooltip" title="Download PDF"> <i data-feather="share" class="w-3 h-3"></i> </a>
        </div>
        <div class="px-5 pt-3 pb-5 border-t border-gray-200 dark:border-dark-5">
            <div class="w-full flex text-gray-600 text-xs sm:text-sm">
                <div class="mr-2"> Comments: <span class="font-medium">94</span> </div>
                <div class="mr-2"> Views: <span class="font-medium">64k</span> </div>
                <div class="ml-auto"> Likes: <span class="font-medium">26k</span> </div>
            </div>
            <div class="w-full flex items-center mt-3">
                <div class="w-8 h-8 flex-none image-fit mr-3">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full" src="/dist/images/profile-6.jpg">
                </div>
                <div class="flex-1 relative text-gray-700">
                    <input type="text" class="form-control form-control-rounded border-transparent bg-gray-200 pr-10 placeholder-theme-13" placeholder="Post a comment...">
                    <i data-feather="smile" class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Blog Layout -->
    <!-- BEGIN: Pagination -->
    <div class="intro-y col-span-12 flex flex-wrap sm:flex-row sm:flex-nowrap items-center">
        <ul class="pagination">
            <li>
                <a class="pagination__link" href=""> <i class="w-4 h-4" data-feather="chevrons-left"></i> </a>
            </li>
            <li>
                <a class="pagination__link" href=""> <i class="w-4 h-4" data-feather="chevron-left"></i> </a>
            </li>
            <li> <a class="pagination__link" href="">...</a> </li>
            <li> <a class="pagination__link" href="">1</a> </li>
            <li> <a class="pagination__link pagination__link--active" href="">2</a> </li>
            <li> <a class="pagination__link" href="">3</a> </li>
            <li> <a class="pagination__link" href="">...</a> </li>
            <li>
                <a class="pagination__link" href=""> <i class="w-4 h-4" data-feather="chevron-right"></i> </a>
            </li>
            <li>
                <a class="pagination__link" href=""> <i class="w-4 h-4" data-feather="chevrons-right"></i> </a>
            </li>
        </ul>
        <select class="w-20 form-select box mt-3 sm:mt-0">
            <option>10</option>
            <option>25</option>
            <option>35</option>
            <option>50</option>
        </select>
    </div>
    <!-- END: Pagination -->
</div>